* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #454F5B;

}

.navbartext {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.navbartext2 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    letter-spacing: 0.12em;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.navbartxt {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #161C24;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navbartaxt {
    gap: 40px;
    padding-top: 10px;
    cursor: pointer;
}

.navbartxt:hover {
    color: #4295E4;
}

.mynavbar {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.telephone {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #454F5B;
    padding-top: 10px;
}

.navbarright {
    gap: 30px;
    align-items: center;
    padding-top: 20px;
}

.navbartts2 {
    padding-left: 20px;
}

.nav2 {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.headerbigtext {
    margin-top: 150px;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 62px;
    color: #161C24;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.headerminimini {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #454F5B;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hegaer2 {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #A4A4A4;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.lino {
    align-items: center;
    gap: 30px;
}

.btn1 {
    padding: 20px 40px 20px 40px;
    border: none;
    background-color: #4295E4;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}

.number {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #161C24;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #454F5B;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.oot {

    display: flex;
    justify-content: space-between;
}

.limonad {
    background: #F2F8FF;

}

.foj {
    padding-top: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 62px;
    color: #161C24;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.rasm {
    padding-top: 50px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.kik {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    color: #161C24;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.csa {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 330px 340px 40px 40px;
    box-shadow: 0px 0px 5px black;
}

.bg-1 {
    background-image: url(img/фото.png);
}

.bg-2 {
    background-image: url(img/фото\ \(1\).png);
}

.bg-3 {
    background-image: url(img/фото\ \(2\).png);
}

.bg-4 {
    background-image: url(img/фото\ \(3\).png);
}

.jj {
    border: none;
    padding: 5px 50px 5px 50px;
    border: 2px solid #000;
}

.salee {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #161C24;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 130px;
    padding: 5px 20px 5px 20px;
    border: 1px solid #000;
    background-color: #FFFFFF;
}

.sale {
    margin-top: 20px;
}

.ttxt {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #454F5B;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cardypzuv {
    display: flex;
    gap: 10px;
}

.icon {
    padding-left: 10px;
}

.bg-5 {
    background-image: url(img/Rectangle\ 19.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #000;
}

.bg-6 {
    background-image: url(img/Rectangle\ 19\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #000;
    padding-right: 20px;
}

.bg-7 {
    background-image: url(img/Rectangle\ 19\ \(2\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #000;
}

.bg-8 {
    background-image: url(img/Rectangle\ 19\ \(3\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #000;
}

.card-ota {
    box-shadow: 10px 0px 30px #000;
}

.cardsoz {
    padding-bottom: 300px;
}

.texttt {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #454F5B;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-top: 20px;
}

.narx {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #161C24;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.narx2 {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: line-through;
    color: #454F5B;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 20px;
}

.cardpast {
    padding-left: 20px;
    margin-bottom: 50px;
}

.hu {
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #454F5B;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#ijj {
    padding-bottom: 20px;
}

.input {
    padding: 10px 20px 10px 20px;
    background: rgba(22, 28, 36, 0.04);
    border: none;
    margin-left: 10px;
}

.btn-primary {
    padding: 5px 20px 5px 20px;
    margin-left: 20px;

}

.inputs-button {
    display: flex;
    justify-content: space-between;
    margin-left: -50px;
    padding-bottom: 50px;
}

.section {
    background: #F2F8FF;
}

.ok {
    padding-bottom: 50px;
    padding-top: 50px;
}

footer {
    background: #0D2436;
    box-shadow: inset 0px 1px 0px #C4CDD5;
    padding-top: 80px;
}

.image-footer2 {
    padding-bottom: 80px;
    padding-top: 140px;
}



.liko {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.uj{
    text-align: start;
}
.isas {
    padding-top: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    flex: none;
    order: 3;
    flex-grow: 0;
}
